@use '../variables';

.button {
    padding: 10px 0px 21px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    position: relative;
    border-radius: 6px;
    display: flex;

    &:hover {
        background-color: lighten(variables.$rosa, 5%);
    }

    &--primary {
        color: variables.$text-color;
        background-color: variables.$rosa;
    }

    @media (max-width: 768px) {
        font-size: 16px;
        padding: 10px 0px 19px;
    }
}